<div class="page-header">
  <h1>Studies Log</h1>
</div>

<p><a href="/studies/new" class="btn btn-primary">Add a New Study</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <!-- <th>User</th> -->
      <th>Case Id</th>
      <th>Subject</th>
      <!-- <th>Accession</th> -->
      <th>Diagnosis</th>
      <th>Image</th>
      <th>Clinical history</th>
      <!-- <th>Date</th> -->
      <!-- <th>Category</th>
      <th>Body part</th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @studies.each do |study| %>
      <tr>
        <!-- <td><%= study.user_id %></td> -->
        <td><%= study.id%></td>
        <td><%= study.subject %></td>
        <!-- <td><%= study.accession %></td> -->
        <td><%= study.diagnosis %></td>
        <td><img src="<%= study.image %>" width="60"></td>
        <td><%= study.clinical_history %></td>
        <!-- <td><%= study.date %></td> -->
        <!-- <td><%= study.category_id %></td>
        <td><%= study.body_part_id %></td> -->
        <td>
          <a href="/studies/<%= study.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/studies/<%= study.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_study/<%= study.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

