<div class="page-header">
  <h1><%= @study.diagnosis %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @study.user_id %></dd>

  <dt>Subject</dt>
  <dd><%= @study.subject %></dd>

  <dt>Accession</dt>
  <dd><%= @study.accession %></dd>

  <dt>Diagnosis</dt>
  <dd><%= @study.diagnosis %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @study.image %>" width="400"></dd>

  <dt>Clinical history</dt>
  <dd><%= @study.clinical_history %></dd>

  <dt>Date</dt>
  <dd><%= @study.date %></dd>

  <dt>Category</dt>
  <dd><%= @study.category_id %></dd>

  <dt>Body part</dt>
  <dd><%= @study.body_part_id %></dd>

</dl>
